<!DOCTYPE html>
<html>
    
    <head>
    </head>
    
    <body>
       <P>You have recieved a new message from the site's content form, from <%= "#{@name}, #{@email}"%></P> 
       <p><%= @body %></p>
    </body>
</html>